@{
    ViewBag.Title = "Home Page";
}

<div class="pos-home">
    <h1 class="pos-name">POINT OF SALES</h1>
    <p class="lead" style="color:#ffffff; font-weight:bolder;">Point Of Sales System, developed by Team Vision, is an ASP.NET MVC Application which is capable of basic <strong>Point Of Sales</strong> operations</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2 style="font-weight:bolder;">Members of Team Vision</h2>
        <hr />
        <ul style="list-style:square; font-weight:bolder;">
            <li>Moinul Mithu</li>
            <li>Abul Kashem</li>
            <li>Priom Biswas</li>
            <li>Roknuzzaman</li>
            <li>Tariqul Shakil</li>
            <li>Monzur Morshed</li>
        </ul>
    </div>
    <div class="col-md-4">
        
    </div>
</div>